
{{ define "index" }}
        {{template "header"}}
          <main class="px-3">
            <h1>Новости</h1>
            <p class="lead">Вы можете размещать свои статьи в этом сайте</p>
         
             
          

            {{ range . }}
            <div>
                <h2>{{ .Title}}</h2>
                <p>{{ .Anons }}</p>
                <p> {{.Fulltext }} </p>
            </div>
            {{ else }}
            <p>Статьи нет</p>
             {{end}}
          </main>
        {{ template "footer"}}
  {{ end }}