{{ define "singin" }}
        {{template "header"}}

		<main class="px-3">		
<div class="limiter">
<div class="container-login100">
<div class="wrap-login100">
<form action="/login/">
<span class="login100-form-title">
Авторизация
</span>
<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
<input class="input100" type="text" name="email" placeholder="Логин">
<span class="focus-input100"></span>
</div>
<div class="wrap-input100 validate-input" data-validate="Please enter password">
<input class="input100" type="password" name="pass" placeholder="Пароль">
<span class="focus-input100"></span>
</div>

<div class="container-login100-form-btn">
<button class="login100-form-btn">
Войти
</button>
</div>
<div class="flex-col-c p-t-170 p-b-40">
<span class="txt1 p-b-9">
У вас нет аккаунта?
</span>
<a href="/singup/" class="txt3">
Регистрация
</a>
</div>
</form>
</div>
</div>
</div>
</main>

{{ template "footer"}}
{{ end }}